body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
    height: auto;
    object-fit: cover;
    animation: fadeInOut linear infinite;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    25%,
    75% {
        opacity: 1;
    }
}